<a href="https://colab.research.google.com/github/Akash610-AV/Python_Assignment1/blob/main/PythonAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [227]:
#Topic 1 — Functions (def) & Lambda Functions
#Part A — Basic Function Concepts (Single Return Values)

In [286]:
#1.	Write a function wish(name) that returns "Hello, Good Morning <name>!".
def wish(Akash):
  return f"Hello, Good Morning {Akash}!"

In [287]:
#2.	Write a function cube(n) that returns the cube of a number (n³).
def cube(n):
  return n**3

In [288]:
#3.	Write a function check_even(n) that returns True if the number is even, else False.
def check_even(n):
  return n % 2 == 0

In [289]:
#4.     Write a function greatest_of_two(a, b) that returns the larger of two numbers.
def greatest_of_two(a, b):
  return a if a > b else b

In [290]:
#5.     Write a function count_letters(s) that returns the number of characters in a string.
def count_letters(s):
  return len(s)

In [291]:
#6.     Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)
def power(value, exp=2):
  return value**exp

In [292]:
#Part B — Returning Multiple Values

In [293]:
#7.     Write a function swap(a, b) that returns the two values swapped as a tuple.
def swap(a, b):
  return (b, a)

In [294]:
#8.     Write a function add_sub(a, b) that returns both sum and difference of two numbers.
def add_sub(a, b):
  return (a + b, a - b)

In [295]:
#9.     Write a function circle_stats(radius) that returns the area and circumference as a tuple
import math

def circle_stats(radius):
  area = math.pi * (radius ** 2)
  circumference = 2 * math.pi * radius
  return (area, circumference)

In [296]:
#10.    Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.
def min_max_sum(nums):
  return (min(nums), max(nums), sum(nums))

In [297]:
# Part C — Working with Strings & Formatting

In [298]:
#11.    Write a function concat(*parts) that joins multiple strings together with spaces.
def concat(*parts):
  return " ".join(parts)

In [299]:
#12.    Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".
def format_name(first, last=""):
  if last:
    return f"{last}, {first}"
  else:
    return first

In [300]:
#13.    Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".
def greet_user(first, last):
  return f"Welcome, {first} {last}!"

In [301]:
#Part D — Lambda Functions

In [302]:
#14.    Write a lambda function to add two numbers.
add = lambda x, y: x + y

In [303]:
#15.    Write a lambda function mult = lambda *args: that returns the product of all arguments.
mult = lambda *args: __import__('math').prod(args)

In [304]:
#16.    Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].
flatten_list = lambda list_of_pairs: [item for pair in list_of_pairs for item in pair]

In [305]:
#Part E — Recursive, Higher-Order & Inner Functions

In [306]:
#17.    Write a recursive function factorial(n) that returns the factorial of a number.
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

In [307]:
#18.    Write a function apply_twice(func, x) that applies a function twice → func(func(x)).
def apply_twice(func, x):
  return func(func(x))

In [308]:
#19.    Write a function inner_demo() that defines and calls an inner function inside it.
def inner_demo():
  def inner_function():
    return "This is the inner function"
  return inner_function()

In [309]:
#20.    Write a function call_function(func, value) that takes another function as a parameter and applies it.
def call_function(func, value):
  return func(value)

In [310]:
#21.    Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.
def square_list(nums):
  def square(x):
    return x**2
  return [square(num) for num in nums]

In [311]:
#Part F — Intermediate Function Concepts

In [312]:
#22.    Write a function make_multiplier(m) that returns a new function which multiplies input values by m.
def make_multiplier(m):
  def multiplier(x):
    return x * m
  return multiplier

In [313]:
#23.    Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.
def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

def filter_primes(nums):
  return [num for num in nums if is_prime(num)]

In [314]:
#24.    Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
#Formula: F = C * 9/5 + 32
def convert_to_fahrenheit(celsius_list):
  return list(map(lambda c: c * 9/5 + 32, celsius_list))

In [315]:
#25.    Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.
def apply_if(func, predicate, iterable):
  return [func(item) for item in iterable if predicate(item)]

In [316]:
#26.    Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).
def curry(func):
  def curried_func(a):
    def inner_curried_func(b):
      return func(a, b)
    return inner_curried_func
  return curried_func

In [317]:
#27.    Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.
def variadic_sum(*args, **kwargs):
  total_sum = sum(args)
  if 'scale' in kwargs:
    total_sum *= kwargs['scale']
  return total_sum

In [318]:
#28.    Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.
def sort_by_length(strings):
  return sorted(strings, key=lambda s: len(s))

In [319]:
#Topic 2 — List Comprehensions
#Part A — Basic Comprehension Practice

In [320]:
#29.    Create [1,2,3,4] → list of their squares.
squares = [x**2 for x in [1, 2, 3, 4]]
display(squares)

[1, 4, 9, 16]

In [321]:
#30.    Create ['a','b','c'] → list of their uppercase versions.
uppercase_list = [s.upper() for s in ['a', 'b', 'c']]
display(uppercase_list)

['A', 'B', 'C']

In [322]:
#31.    Make a list of even numbers from 1 to 20.
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
display(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [323]:
#32.    Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].
words = ['apple', 'bee', 'cat']
word_length_pairs = [(word, len(word)) for word in words]
display(word_length_pairs)

[('apple', 5), ('bee', 3), ('cat', 3)]

In [324]:
#33.    Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].
nested_list = [[1, 2], [3, 4], [5]]
flattened_list = [item for sublist in nested_list for item in sublist]
display(flattened_list)

[1, 2, 3, 4, 5]

In [325]:
#34.    From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.
nums = [0, 1, 2, 3]
even_odd_list = ['even' if x % 2 == 0 else 'odd' for x in nums]
display(even_odd_list)

['even', 'odd', 'even', 'odd']

In [326]:
#35.    Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).
# Assuming the is_prime function from #23 is available
# def is_prime(n):
#   if n < 2:
#     return False
#   for i in range(2, int(n**0.5) + 1):
#     if n % i == 0:
#       return False
#   return True

numbers_to_check = [2, 3, 4, 5, 6, 7, 8, 9, 10]
prime_booleans = [is_prime(n) for n in numbers_to_check]
display(prime_booleans)

[True, True, False, True, False, True, False, False, False]

In [327]:
#36.    From range(1,50), select numbers divisible by both 2 and 3.
divisible_by_2_and_3 = [x for x in range(1, 51) if x % 2 == 0 and x % 3 == 0]
display(divisible_by_2_and_3)

[6, 12, 18, 24, 30, 36, 42, 48]

In [328]:
#37.    Create coordinate pairs (i, j) where i and j go from 0 to 2.
coordinate_pairs = [(i, j) for i in range(3) for j in range(3)]
display(coordinate_pairs)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [329]:
#38.    From ['a b','c d e'], produce a flat list of all words.
list_of_strings = ['a b', 'c d e']
flat_list_of_words = [word for string in list_of_strings for word in string.split()]
display(flat_list_of_words)

['a', 'b', 'c', 'd', 'e']

In [330]:
#Part B — Using Lists of Dictionaries

In [331]:
#39.    Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.
students = [{'name':'A','score':80}, {'name':'B','score':60}]
high_scoring_students = [student['name'] for student in students if student['score'] >= 75]
display(high_scoring_students)

['A']

In [332]:
#40.    Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.
number_squares = [{'n': n, 'square': n*n} for n in range(1, 11)]
display(number_squares)

[{'n': 1, 'square': 1},
 {'n': 2, 'square': 4},
 {'n': 3, 'square': 9},
 {'n': 4, 'square': 16},
 {'n': 5, 'square': 25},
 {'n': 6, 'square': 36},
 {'n': 7, 'square': 49},
 {'n': 8, 'square': 64},
 {'n': 9, 'square': 81},
 {'n': 10, 'square': 100}]

In [333]:
#41.    Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.
list1 = [1, 0, 2, 'a', '', 'b']
list2 = ['x', 'y', None, 'z', 'p', 'q']

merged_truthy = [(a, b) for a, b in zip(list1, list2) if a and b]
display(merged_truthy)

[(1, 'x'), ('a', 'z'), ('b', 'q')]

In [334]:
#42.    Create a comprehension to transpose a matrix (swap rows ↔ columns).
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

transposed_matrix = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
display(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [335]:
#Part C — Advanced Comprehensions

In [336]:
#43.    Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.
nested_list_3level = [[[1,2],[3]],[[4]]]
flattened_list_3level = [item for sublist1 in nested_list_3level for sublist2 in sublist1 for item in sublist2]
display(flattened_list_3level)

[1, 2, 3, 4]

In [337]:
#44.    Write a comprehension that keeps only unique items from a list while preserving order.
my_list = [1, 2, 2, 3, 1, 4, 5, 4]
seen = set()
unique_list = [x for x in my_list if x not in seen and not seen.add(x)]
display(unique_list)

[1, 2, 3, 4, 5]

In [338]:
#45.    Find all indices (positions) where a given number appears in a list.
def find_indices(input_list, target_number):
  return [i for i, x in enumerate(input_list) if x == target_number]

# Example usage:
my_list = [1, 5, 2, 5, 3, 5, 4]
target = 5
indices = find_indices(my_list, target)
display(indices)

[1, 3, 5]

In [339]:
#46.    Generate all palindromic numbers (as strings) between 1 and 999.
palindromic_numbers = [str(n) for n in range(1, 1000) if str(n) == str(n)[::-1]]
display(palindromic_numbers)

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '11',
 '22',
 '33',
 '44',
 '55',
 '66',
 '77',
 '88',
 '99',
 '101',
 '111',
 '121',
 '131',
 '141',
 '151',
 '161',
 '171',
 '181',
 '191',
 '202',
 '212',
 '222',
 '232',
 '242',
 '252',
 '262',
 '272',
 '282',
 '292',
 '303',
 '313',
 '323',
 '333',
 '343',
 '353',
 '363',
 '373',
 '383',
 '393',
 '404',
 '414',
 '424',
 '434',
 '444',
 '454',
 '464',
 '474',
 '484',
 '494',
 '505',
 '515',
 '525',
 '535',
 '545',
 '555',
 '565',
 '575',
 '585',
 '595',
 '606',
 '616',
 '626',
 '636',
 '646',
 '656',
 '666',
 '676',
 '686',
 '696',
 '707',
 '717',
 '727',
 '737',
 '747',
 '757',
 '767',
 '777',
 '787',
 '797',
 '808',
 '818',
 '828',
 '838',
 '848',
 '858',
 '868',
 '878',
 '888',
 '898',
 '909',
 '919',
 '929',
 '939',
 '949',
 '959',
 '969',
 '979',
 '989',
 '999']

In [340]:
#47.    Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.
my_dict = {'a': [1, 2], 'b': [3]}
list_of_pairs = [(key, value) for key, value in my_dict.items()]
display(list_of_pairs)

[('a', [1, 2]), ('b', [3])]

In [341]:
#48.    Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.
# Assuming the is_prime function from #23 is available

primes_under_100 = [n for n in range(2, 100) if is_prime(n)]

prime_pairs = [(p, q) for p in primes_under_100 for q in primes_under_100 if is_prime(p + q)]
display(prime_pairs)

[(2, 3),
 (2, 5),
 (2, 11),
 (2, 17),
 (2, 29),
 (2, 41),
 (2, 59),
 (2, 71),
 (3, 2),
 (5, 2),
 (11, 2),
 (17, 2),
 (29, 2),
 (41, 2),
 (59, 2),
 (71, 2)]

In [342]:
#49.    Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.
n = 5  # You can change the size of the matrix here
lower_triangular_matrix = [[1 if i >= j else 0 for j in range(n)] for i in range(n)]
display(lower_triangular_matrix)

[[1, 0, 0, 0, 0],
 [1, 1, 0, 0, 0],
 [1, 1, 1, 0, 0],
 [1, 1, 1, 1, 0],
 [1, 1, 1, 1, 1]]

In [343]:
#50.    Generate all possible sequences of length 4 from 'abcd' with no repeated letters.
import itertools

characters = 'abcd'
sequences = [''.join(p) for p in itertools.permutations(characters, 4)]
display(sequences)

['abcd',
 'abdc',
 'acbd',
 'acdb',
 'adbc',
 'adcb',
 'bacd',
 'badc',
 'bcad',
 'bcda',
 'bdac',
 'bdca',
 'cabd',
 'cadb',
 'cbad',
 'cbda',
 'cdab',
 'cdba',
 'dabc',
 'dacb',
 'dbac',
 'dbca',
 'dcab',
 'dcba']